#
#   .gitconfig - Ithalos
#


# Core settings

[core]
    editor = /usr/bin/vim
    
# Colours
[color]
    diff = auto
    branch = auto
    status = auto

[color "branch"]
    current = green
    local = white
    remote = cyan

[color "diff"]
    meta = yellow
    frag = blue
    old = red
    new = green
    plain = normal

[color "status"]
    added = green
    changed = yellow
    untracked = magenta

