!
!	.Xresources - Ithalos
!



! Disable scrollbar
URxvt.scrollBar: False

! Set up font
URxvt.font: xft:Dejavu Sans Mono :size=12

! Set up inner padding
URxvt.internalBorder: 12


! Colours

! Enable intensity
URxvt.intensityStyles: True

! Main colours & transparency
URxvt.foreground:  rgb:25/72/84
URxvt.background:  rgb:33/33/33
URxvt.tintColor:   rgb:AA/AA/AA
URxvt.transparent: True


!Black
URxvt.color0:      rgb:00/00/00
URxvt.color8:      rgb:00/00/00

! Blue
URxvt.color4:      rgb:44/44/FF
URxvt.color12:     rgb:44/44/FF

! Green
URxvt.color2:      rgb:44/CC/44
URxvt.color10:     rgb:44/CC/44

! Red
URxvt.color1: 	   rgb:FF/22/22
URxvt.color9:      rgb:FF/22/22

! Yellow
URxvt.color3:      rgb:F4/CE/42
URxvt.color11:     rgb:F4/CE/42

! Magenta
URxvt.color5:      rgb:6D/50/B0
URxvt.color13:     rgb:6D/50/B0

! Cyan
URxvt.color6:      rgb:00/AB/AB
URxvt.color14:     rgb:00/AB/AB

! White
URxvt.colour7:     rgb:FF/FF/FF
URxvt.colour15:    rgb:FF/FF/FF

! Colour overview
! 0 = Black
! 1 = Red;
! 2 = Green;
! 3 = Yellow;
! 4 = Blue;
! 5 = Magenta;
! 6 = Cyan;
! 7 = White;
! 8-15 = High Intensity
