!
!	.Xresources - Ithalos
!



! Disable scrollbar
URxvt.scrollBar: False

! Set up font
URxvt.font: xft:Dejavu Sans Mono :size=12





! Colours

! Enable intensity
URxvt.intensityStyles: True

! Main colours & transparency
URxvt.foreground:  rgb:25/72/84
URxvt.background:  rgb:33/33/33
URxvt.tintColor:   rgb:BB/BB/BB
URxvt.transparent: True

! Blue
URxvt.color4:      rgb:44/44/FF
URxvt.color12:     rgb:44/44/FF

! Green
URxvt.color2:      rgb:FF/FF/FF
URxvt.color10:     rgb:FF/FF/FF

! Red
URxvt.color1: 	   rgb:FF/44/44
URxvt.color9:      rgb:FF/44/44


! Colour overview
! 0 = Black
! 1 = Red;
! 2 = Green;
! 3 = Yellow;
! 4 = Blue;
! 5 = Magenta;
! 6 = Cyan;
! 7 = White;
! 8-15 = High Intensity
